

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


 



.quicksand-font-family {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font: weight 400px;
  font-style:normal;
}
.navbar{
    width: 1200px;
height: 62px;
display: flex;
justify-content: center;
align-items: center;
gap: 186px;
padding: 0px;
margin: 10px 0px;
}
.nav1{
    display: flex;
}
.nav-logo{
width: 62px;
height: 62px;
left: 1px;
right: 139px;
top: 0;
bottom: 0;
}
.nav-title{
    font-size: 20px;
}
.ul-container1{
    list-style: none;
width: 387px;
height: 30px;
display: flex;
justify-content: flex-start;
align-items: center;
gap: 0px;
padding: 0px;
}
.li-1, .li-2, .li-3, .li-4{
width: 58px;
height: 30px;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 0px 32px;
color: rgb(254, 163, 1);
font-size: 12px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
.li-1, .Empowering{
    color: rgb(254, 163, 1) ;
}
.li-2, .towards-vision{
 color:  rgb(1, 172, 253);
}
.li-3{
    color: rgb(5, 212, 223);
}
.li-4
{
    color: rgb(93, 88, 239);
}
.btn-primary, .btn-secondary{
width: 120px;
height: 35px;
justify-content: center;
text-align: center;
align-items: center;
gap: 10;
padding: 10px;
border-radius: 8px;
padding:0px 5px;
margin: 0 7px;
font-size: 12px;
font-weight: 400;
line-height: 30px;
color: rgb(255, 255, 255);
background-color: rgb(254, 163, 1);
border-style: none;
}
/* banner style */
.banner-container{
    display: flex;
    justify-content: center;
    gap: 290px;
    width: 1200px;
    height: 575px;
    align-items: center;


}
.banner{
    width:23vw ;
}
.banner-title{

justify-content: flex-start;
font-size: 2rem;
font-weight: 700;
text-align: left;
margin-bottom: 0px;
} 
.banner-description{
    font-weight: 400;
    font-size: 0.5rem;
}
.btn-secondary{
    background-color:black;
}
main{
    background-image:url(../images/bg.png);
    width: 1200px;
    margin-top: 100px;

}
.card-title{

position: static;
width: 460.61px;
height: 57.5px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 60px 0px 60px 0px;
color: rgb(0, 0, 0);
font-size: 1.2rem;
font-weight: 700;
line-height: 57.5px;
text-align: center;
margin: 0 auto;
}
.cards-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    margin: 0 auto;
    gap:2px;
    justify-content: space-around;
    align-items: center;

}
.card{
position: relative;
width: 250px;
height: 340px;
box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
margin: 0 2px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-1{
    margin-left: 60px;
}
.card-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-img{
width: 130.7px;
height: 111.94px;
margin: 10px 50px;
margin-bottom: 1px;
}
.card-sub-title{
font-weight: 700;
font-size: .8rem;
text-align: center;
}
.card-description{
    font-weight: 500;
    font-size: .5rem;
    text-align: center;
}
.card-btn{
    font-weight: 500;
    font-size: .5rem;
    color:rgb(100, 200, 255);
    background-color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
    margin-left: 40%;
}
.card-btn2{
    font-size: .5rem;
    color: rgb(240, 170, 0);
}
.card-btn3{
    font-size: .5rem;
    color: rgb(135, 0, 255);
}
.btn-icon{
position: relative;
width: 60px;
height: 60px;
border-radius: 30px;
background: rgb(254, 163, 1);
font-size: larger;
color: white;
border: none;
margin-left: 50%;
}
.btn-icon2{
    margin-left:0px ;
}
.Stories{
    background: url(../images/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.stories-container{
    width: 1200px;
}
.title1{ 
font-size: 1.3rem;
font-weight: 700;
line-height: 38.35px;
text-align: left;
margin-left: 38px;
}
.description1{
    text-align: left;
    margin-left: 38px;
    margin-top: 25px;
    width: 200px;
}
.btn-story1{
    position: absolute;
    border-radius: 47.93px;
background: rgb(60, 216, 232);
width: 174.51px;
height: 47.93px;
margin-left:38px;
margin-top:-22px;

}
.story-1{
    margin-left: 30px;
width: 540px;
margin-bottom: 0px;
border-radius: 16px;
}
.story1{
width: 500.27px;
height: 630.52px;
border-radius: 16px;
background: rgb(255, 255, 255);
}
.story-2, .story-3, .story-4, .story-5{
border-radius: 16px;
background: rgb(255, 255, 255);
}
.story-description{
width: 198.04px;
height: 47.93px;
left: 0;
top: 4.79px;
display: flex;
align-items: center;
font-size: .8rem;
font-weight: 700;
line-height: 28.76px;
}
.btn-story2, .btn-story3, .btn-story4, .btn-story5
{
    position: absolute;
width: 174.51px;
height: 38.35px;
margin-top: -25px;
border-radius: 47.93px;
background: rgb(149, 178, 38);
font-weight: 500;
font-size: .6rem;
color: white;
border-style: none;

}
.btn-story3{
    background-color: rgb(93, 88, 240);
}
.Stories-container{
    display: flex;
    justify-content: space-around;
}
.four-story{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 540.27px;
height: 630.52px;

}
.view-all{
    background-color: black;
    margin-left: 32%;
    margin-bottom: 40px;

}
footer{
    margin-top: 50px;
    width: 1200px;
    height: 400px;
    background-color: rgb(1, 172, 253);
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 50px;
}
.div1{
    display: flex;
}
.footer-title{
    font-weight: 700;
    font-size: 1rem;
    color: white;
}
.footer-description{
    width:400px;
    font-weight: 500;
    font-size: .5rem;
    color: white;
}
#about-school{
    font-weight: 700;
    font-size: 1rem;
    color: white;

}
.keep-title{
    font-weight: 700;
    font-size: 1rem;
    color: white;
}
.li{
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: .7rem;
    color:white;
}

@media screen and (max-width: 576px) {
   .nav-title,
   .ul-container1,
   .btn-primary
   {
    display: none;
   } 
   .nav-logo{
    position: absolute;
    width: 32.06px;
    height: 27.88px;
    left: 6.97px;
    top: 6.97px;
   }
   .banner{
    order: 1;
position: static;
width: 357px;
height: 252px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 18px;
padding: 0px;
margin: 20px 0px;
text-align: center;
   }
.banner-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
}
.banner-img{
    /* Group 4 */
position: static;
width: 336.58px;
height: 413px;
margin: 20px 0px;
}
.banner-title{
    text-align: center;
}
.card-title{
    width: 261px;
height: 33px;
    margin-right: 80%;
padding-right: 20px;
justify-content:start;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.card-1{
    margin-left: 30px;
    padding-top: 1px;
}
.card-2, .card-3{
    margin-left: 30px;
}
.btn-icon{
    display: none;
}
.story1{
    display: none;
}
.four-story{
    margin-right: 80%;
    gap: 1px;
}
.child{
width: 173.09px;
height: 179.59px;
border-radius: 9.53px;
background: rgb(255, 255, 255);
}
.story-2, .story-3, .story-4, .story-5{
width: 120.27px;
height: 105.39px;
gap:2px;
}
.btn-story2, .btn-story3, .btn-story4, .btn-story5{
width: 103.91px;
height: 30px;
}
.story-description{
width: 80.px;
height: 28.54px;
top: 2.85px;
display: flex;
align-items: center;
color: rgb(0, 0, 0);
font-size: .4rem;
font-weight: 700;
letter-spacing: 0%;
text-align: left;
padding-bottom: 2px;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
footer{
    height: fit-content;
}
}